/* Untuk Tablet */
@media all and (max-width: 1225px) {
  .footer p {
    margin-left: 4vw;
  }
}

@media all and (max-width: 1000px) {
  .header {
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .header-logo img {
    height: 6.3vw;
  }

  .header-input input{
    font-size: 1.5vw;
    margin-top: 1.2vw;
    padding-left: 1vw;
  }

  .menu-list .btn{
    font-size: 1.6vw;
    margin-left: -1.4vw;
  }

  .header-title {
    margin-left: 1vw;
    width: 45vw;
  }

  .header-title .btn{
    width: 3vw;
  }

  .item {
    padding-top: 0.8vw;
    width: 16vw;
    margin-top: -11.3vw;
  }

  .footer img{
    height: 6.3vw;
  }

  .footer p{
    margin-left: 4.7vw;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-input input{
    margin-top: 2vw;
  }

  .header {
    height: 30rem;
  }

  .header-title {
    width: 60vw;
    margin-top: 8vw;
    margin-left: 1vw;
  }

 .main {
    padding: 0;
    margin-top: 2vw;
    flex: 100%;
    margin-left: 4vw;
  }

  .item {
    position: relative;
    margin-top: 7vw;
    margin-bottom: -2vw;
    margin-left: 11vw;
    margin-right: 10vw;
    width: 76.3vw;
  }

  .item img{
    margin-left: -2.5vw;
    height: 10vw;
  }

  .item p{
    font-size: 1.6vw;
  }

  .item h1{
    font-size: 10vw;
  }

  .side {
    flex: 100%;
    margin-top: -7vw;
    margin-bottom: 4vw;
  }

  .side p {
    font-size: 5vw;
  }

  .kalender h1{
    font-size: 12vw;
    margin-top: 5vw;
  }

  .kalender h3{
    font-size: 5vw;
  }

  .tabel {
    margin-left: 9vw;
    margin-right: 9vw;
  }

}

@media all and (max-width: 320px) {
  .header {
    height: 15rem;
    padding-top: 0.5rem;
    padding-right: 0.2rem;
    padding-left: 0.5rem;
  }

.menu-media input {
  margin-right: 5vw;
}

.menu-media img {
  height: 3vw;
  margin-top: -3vw;
}

.menu-media .btn {
  margin-left: -6vw;
}

.main {
  flex: 100%;
  margin-right: -6vw;
  padding: 0;
}

.card h2 {
  font-size: 6vw;
}

.card p{
  font-size: 3vw;
}

.card h6 {
    font-size: 4vw;
}

.card-deck {
  margin-bottom: -3vw;
}

.side {
  flex: 100%;
  margin: 0vw;
  padding: 0vw;
}

.item {
  margin-top: -4.8vw;
  position: relative;
  margin-left:9vw;
  width: 86.5vw;
  margin-right: -5vw;
  margin-bottom: 3vw;
}

.tabel {
  margin:0vw 6.2vw;
  padding: 0;
}

.table {
  position: relative;
 font-size: 3vw;
 width: 100vw;
 margin-right: -10vw;
}

.table img {
  height: 4vw;
}

.footer p{
  margin-bottom: 0vw;
}
}
